body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 900px;
}

.App-header {
  margin: 30px 0;
  text-align: center;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  margin: 30px auto;
  text-align: center;
  font-size: 12px;
}
